@page "/battleSchemaCreate"
@inject IBattleSchema battleschema
@inject NavigationManager NavManager

<div class="topSection">
    <h3>Create a battleschema</h3>
</div>
<EditForm Model="@battleSchemaModel" OnValidSubmit="CreateBattleSchema">
    @*For at vores beskreder fra vores validering kan vises*@
    <ValidationSummary />
    @*For at vores validering på modelleren kan bruges skal vi tilføje følgende*@
    <DataAnnotationsValidator />
    <div class="row">
        <div class="">
            <label>SamuraiID</label>
            <input class="form-control" @bind="battleSchemaModel.SamuraiID" />
            <label>BattlesID</label>
            <input class="form-control" @bind="battleSchemaModel.BattlesID" />
        </div>

        <div class="formButton">
            <button @onclick="Back">Back</button>
            <button type="submit">Confirm</button>   
        </div>
    </div>
</EditForm>

@code {
    /// <summary>
    /// vores gå tilbage knap
    /// </summary>
        private void Back()
    {
        //skift vindue
        NavManager.NavigateTo("/battleSchema");
    }    

    //istansiere vores model
    BattleSchemaModel battleSchemaModel = new();

    /// <summary>
    /// vores indsæt metode
    /// </summary>
    private void CreateBattleSchema()
    {
        try
        {
            //kør metode
            battleschema.InsertBattleSchema(battleSchemaModel);
            //skift vindue
            NavManager.NavigateTo("/battleSchema");
        }
        catch
        {
            //bygger vores navigateTo ordenligt op
            string infostring = $"'{battleSchemaModel.SamuraiID.ToString()}' or '{battleSchemaModel.BattlesID.ToString()}' is not an existent BattleID or SamuraiID";
            string currentModel = "BattleSchema Model";
            string CurrentId = " ";
            string url = "battleSchemaCreate";

            //skift vindue
            NavManager.NavigateTo($"/errorIDPage/{url}/{CurrentId}/{currentModel}/{infostring}");
        }
    }
}
