@page "/"

<PageTitle>Index</PageTitle>

<div class="indexTopSection">
<h1>WELCOME</h1>
    <p>PLEASE SELECT WHAT YOU WANT TO LOOK UP</p>
</div>

@*<SurveyPrompt Title="How is Blazor working for you?" />*@
