@page "/"
@inject ILogin login
@inject NavigationManager navManager
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<PageTitle>Index</PageTitle>

<div class="topSection">
    <h3>Please login or create an account.</h3>
    <button @onclick="Register">Register</button>
</div>


<EditForm Model="@loginModel" OnValidSubmit="GetLogin">
    @*For at vores beskreder fra vores validering kan vises*@
    <div class="errorBox">
        <ValidationSummary />
        @*For at vores validering på modelleren kan bruges skal vi tilføje følgende*@
        <DataAnnotationsValidator />
    </div>
    <div class="row">
        <label>Email:</label>
        <input class="form-control" @bind="loginModel.Email" />
        <label>Password:</label>
        <input class="form-control" @bind="loginModel.Password" />
        <div class="formButton">
            <button type="submit">Login</button>
        </div>
    </div>
</EditForm>

@code {
    //istansiere vores List
    LoginModel loginModel = new();

    public void GetLogin()
    {
        if (login.GetUser(loginModel))
        {
            //sætter localstorage værdierne.
            localStorage.SetItemAsync("UserSession", "1");
            localStorage.SetItemAsync($"Email", $"{loginModel.Email}");
            localStorage.SetItemAsync($"Password", $"{loginModel.Password}");

            //skift vindue
            navManager.NavigateTo($"/welcome");
        }
        //hvis man taster forkert
        else
        {
            //variabler vi parser med til næste vindue
            string infostring = "Wrong login info.";
            string url = " ";
            //skift vindue
            navManager.NavigateTo($"/loginErrorPage/{url}/{infostring}");
        }
    }

    public void Register()
    {
        navManager.NavigateTo($"/register");
    }
}
