@page "/register"
@inject ILogin login
@inject NavigationManager navManager

<PageTitle>Register</PageTitle>

<div class="topSection">
    <h3>Create a login</h3>
    <button @onclick="Back">Back</button>
</div>

<EditForm Model="@loginModel" OnValidSubmit="CreateUser">
    @*For at vores beskreder fra vores validering kan vises*@
    <div class="errorBox">
        <ValidationSummary />
        @*For at vores validering på modelleren kan bruges skal vi tilføje følgende*@
        <DataAnnotationsValidator />
    </div>
    <div class="row">
        <label>Email:</label>
        <input class="form-control" @bind="loginModel.Email" />
        <label>Password:</label>
        <input class="form-control" @bind="loginModel.Password" />
        <div class="formButton">
            <button type="submit">Confirm</button>
        </div>
    </div>
</EditForm>

@code {
    //istansiere vores List
    LoginModel loginModel = new();

    /// <summary>
    /// laver en metode som kalder metoden create
    /// </summary>
    public void CreateUser()
    {
        //kør hvis det rigtigt
        try
        {
            //kør metode
            login.CreateLogin(loginModel);
            //skift vindue
            navManager.NavigateTo("/");
        }
        //kør hvis ikke rigtigt
        catch
        {
            string infostring = "Email already exists.";
            string url = "register";
            //skift vindue
            navManager.NavigateTo($"/loginErrorPage/{url}/{infostring}");
        }
    }

    public void Back()
    {
        navManager.NavigateTo("/");
    }

}
