@page "/samuraiCreate"
@inject ISamurai samurai
@inject IClan clan
@inject NavigationManager NavManager

<div class="topSection">
    <h3>Create a samurai</h3>
    <button @onclick="Back">Back</button>
</div>
<EditForm Model="@samuraiModel" OnValidSubmit="CreateSamurai">
    @*For at vores beskreder fra vores validering kan vises*@
    <div class="errorBox">
        <ValidationSummary />
        @*For at vores validering på modelleren kan bruges skal vi tilføje følgende*@
        <DataAnnotationsValidator />
    </div>
    <div class="row">
        <div class="">
            <label>First name:</label>
            <input class="form-control" @bind="samuraiModel.FirstName" />
            <label>Last name:</label>
            <input class="form-control" @bind="samuraiModel.LastName" />
            <label>Birthdate:</label>
            <input class="form-control" @bind="samuraiModel.Birthdate" />
            <label>Choose a clan:</label>
            @if (clanAlive.Count() > 0)
            {
                <div>
                    <InputSelect @bind-Value="samuraiModel.ClanID" id="categorySelect">
                        @foreach (var item in clanAlive)
                        {
                            @if (item.Deleted != 2)
                            {
                                <option value="@item.ID">@item.ClanName</option>
                            }
                        }
                    </InputSelect>
                </div>
            }
        </div>


        <div class="formButton">
            <button type="submit">Confirm</button>
        </div>
    </div>
</EditForm>




@code {
    //istansiere vores model
    public List<ClanModel> clanAlive = new();
    SamuraiModel samuraiModel = new();

    /// <summary>
    /// overrider er så vi overskriver dataen hver gang
    /// gør klar til udprint
    /// </summary>
    protected override void OnInitialized()
    {
        //indsætter
        clanAlive = clan.ReadAllAliveClan();
    }
    /// <summary>
    /// vores gå tilbage knap
    /// </summary>
    private void Back()
    {
        //skift vindue
        NavManager.NavigateTo("/samurai");
    }

    /// <summary>
    /// vores indsæt i tabellen metode
    /// </summary>
    private void CreateSamurai()
    {
        try
        {
            //kør metode
            samurai.InsertSamurai(samuraiModel);
            //skift vindue
            NavManager.NavigateTo("samurai");
        }
        catch
        {
            //bygger vores navigateTo ordenligt op
            string infostring = $"{(samuraiModel.ClanID).ToString()} is out of range.";
            string currentModel = "Samurai Model";
            string CurrentId = " ";
            string url = "samuraiCreate";

            //skift vindue
            NavManager.NavigateTo($"/errorIDPage/{url}/{CurrentId}/{currentModel}/{infostring}");
        }
    }
}
