@page "/horse"
@inject IHorse horse
@inject NavigationManager NavManager

<h3>Horses</h3>

<table>
    <thead>
        <tr>
            <button @onclick="CreateHorse">Add Horse</button>
        </tr>
        <tr>
            <td>Name</td><td>Horse Race</td><td>Samurai ID</td>
        </tr>
    </thead>
    <tbody>     
            @foreach (var horse in horsesList)
            {
                <tr>
                <td>@horse.Name</td>
                <td>@horse.HorseRace</td>
                <td>@horse.SamuraiID</td>
                <td>
                    <a href="horseUpdate/@horse.ID">Update</a> |
                    <button @onclick="()=>HorseDelete(horse)">Delete</button>
                </td>
                </tr>
   
            }
        
    </tbody>
</table>

@code {
    //istansiere vores List
    List<HorseModel> horsesList = new();

    /// <summary>
    /// overrider er så vi overskriver dataen hver gang
    /// gør klar til udprint
    /// </summary>
    protected override void OnInitialized()
    { 
        //indsæt
        horsesList = horse.ReadAllHorses(); 
    }

    /// <summary>
    /// vores knap til at komme hen for at indsætte i tabel
    /// </summary>
    private void CreateHorse()
    {
        //skift vindue
        NavManager.NavigateTo("/horseCreate");
    }

    /// <summary>
    /// vores knap til at slette
    /// </summary>
    /// <param name="horseModel"></param>
    private void HorseDelete(HorseModel horseModel)
    {
        //kør metode
        horse.DeleteHorse(horseModel.ID);

        //refresh
        StateHasChanged();
    }

}
