@page "/horseUpdate/{CurrentId}"
@inject IHorse horse
@inject NavigationManager NavManager

<div class="topSection">
    <h3>Update a horse</h3>
    <button @onclick="Back">Back</button>
</div>

<EditForm Model="@horseModel" OnValidSubmit="UpdateHorse">
    @*For at vores beskreder fra vores validering kan vises*@
    <div class="errorBox">
        <ValidationSummary />
        @*For at vores validering på modelleren kan bruges skal vi tilføje følgende*@
        <DataAnnotationsValidator />
    </div>
    <div class="row">
        <div class="">
            <label>Horse name</label>
            <input class="form-control" @bind="horseModel.Name" />
            <label>Horse race</label>
            <input class="form-control" @bind="horseModel.HorseRace" />
            <label>SamuraiId</label>
            <input class="form-control" @bind="horseModel.SamuraiID" />
        </div>

        <div class="formButton">
            <button type="submit">Confirm</button>
        </div>
    </div>
</EditForm>

@code {
    //parameter gør at vi kan hente dataen ned fra url som bliver parset med
    [Parameter]
    public string? CurrentId { get; set; }

    //istansiere model
    HorseModel horseModel = new();

    /// <summary>
    /// overrider er så vi overskriver dataen hver gang
    /// gør klar til udprint
    /// </summary>
    protected override void OnInitialized()
    {
        //indsætter
        horseModel = horse.ReadOneHorse(Convert.ToInt32(CurrentId));
    }

    private void Back()
    {
        //skift vindue
        NavManager.NavigateTo("/horse");
    }

    /// <summary>
    /// vores update metode
    /// </summary>
    private void UpdateHorse()
    {
        try
        {
            //kør metode
            horse.UpdateHorse(horseModel, Convert.ToInt32(CurrentId));
            //skift vindue
            NavManager.NavigateTo("horse");
        }
        catch
        {
            //gør vores navigateTo klar
            string infostring = $"{(horseModel.SamuraiID).ToString()} is not an existent Samurai ID";
            string currentModel = "Horse Model";
            string url = "horseUpdate";

            //skift vindue
            NavManager.NavigateTo($"/errorIDPage/{url}/{CurrentId}/{currentModel}/{infostring}");
        }
    }
}
