@page "/horseCreate"
@inject IHorse horse
@inject NavigationManager NavManager

<h3>Create A Horse</h3>
<EditForm Model="@horseModel" OnValidSubmit="CreateHorse">
    @*For at vores beskreder fra vores validering kan vises*@
    <ValidationSummary />
    @*For at vores validering på modelleren kan bruges skal vi tilføje følgende*@
    <DataAnnotationsValidator />
    <div class="form-control">
        Name <input type="text" @bind="horseModel.Name" />
    </div>
    <div class="form-control">
        HorseRace <input type="text" @bind="horseModel.HorseRace" />
    </div>
    <div class="form-control">
        SamuraiID <input type="text" @bind="horseModel.SamuraiID" />
    </div>
    <button type="submit">Confirm</button>
    
</EditForm>
<button @onclick="Back">Back</button>

@code {
    /// <summary>
    /// vores tilbage knap
    /// </summary>
    public void Back()
    {
        //skift vindue
        NavManager.NavigateTo("/horse");
    }

    //instansiere vores model
    HorseModel horseModel = new();

    /// <summary>
    /// laver vores indsæt metode
    /// </summary>
    public void CreateHorse()
    {
        try
        {
            //kør metode
            horse.InsertHorse(horseModel);
            //skift vindue
            NavManager.NavigateTo("horse");
        }
        catch
        {
            //bygger vores navigateTo ordenligt op
            string infostring = $"{(horseModel.SamuraiID).ToString()} is not an existent Samurai ID";
            string currentModel = "Horse Model";
            string CurrentId = " ";
            string url = "horseCreate";

            //skift vindue
            NavManager.NavigateTo($"/errorIDPage/{url}/{CurrentId}/{currentModel}/{infostring}");
        }
    }
}
