@page "/horseCreate"
@inject IHorse horse
@inject ISamurai samurai
@inject NavigationManager NavManager

<div class="topSection">
    <h3>Create a horse</h3>
    <button @onclick="Back">Back</button>
</div>
<EditForm Model="@horseModel" OnValidSubmit="CreateHorse">
    @*For at vores beskreder fra vores validering kan vises*@
    <div class="errorBox">
        <ValidationSummary />
        @*For at vores validering på modelleren kan bruges skal vi tilføje følgende*@
        <DataAnnotationsValidator />
    </div>
    <div class="row">
        <div class="">
            <label>Horse name:</label>
            <input class="form-control" @bind="horseModel.Name" />
            <label>Horse race:</label>
            <input class="form-control" @bind="horseModel.HorseRace" />
            <label>Choose Samurai: </label>
            @if (samuraiList.Count() > 0)
            {
                <div>
                    <InputSelect @bind-Value="horseModel.SamuraiID" id="categorySelect">
                        @foreach (var item in samuraiList)
                        {

                            <option value="@item.ID">@item.FirstName @item.LastName</option>

                        }
                    </InputSelect>
                </div>
            }
        </div>




        <div class="formButton">
            <button type="submit">Confirm</button>
        </div>
    </div>

</EditForm>

@code {

    //istansiere vores List
    List<SamuraiModel> samuraiList = new();
    HorseModel horseModel = new();

    /// <summary>
    /// overrider er så vi overskriver dataen hver gang
    /// gør klar til udprint
    /// </summary>
    protected override void OnInitialized()
    {
        //indsæt
        samuraiList = samurai.ReadAllAliveSamurais();
    }

    /// <summary>
    /// vores tilbage knap
    /// </summary>
    private void Back()
    {
        //skift vindue
        NavManager.NavigateTo("/horse");
    }

    /// <summary>
    /// laver vores indsæt metode
    /// </summary>
    private void CreateHorse()
    {
        try
        {
            //kør metode
            horse.InsertHorseAvoidInjection(horseModel);
            //skift vindue
            NavManager.NavigateTo("horse");
        }
        catch
        {
            //bygger vores navigateTo ordenligt op
            string infostring = $"{(horseModel.SamuraiID).ToString()} that samurai already owns a horse!";
            string currentModel = "Horse Model";
            string CurrentId = " ";
            string url = "horseCreate";

            //skift vindue
            NavManager.NavigateTo($"/errorIDPage/{url}/{CurrentId}/{currentModel}/{infostring}");
        }
    }
}
