@page "/horseCreate"
@inject IHorse horse
@inject NavigationManager NavManager

<div class="topSection">
    <h3>Create A horse</h3>
</div>
<EditForm Model="@horseModel" OnValidSubmit="CreateHorse">
    @*For at vores beskreder fra vores validering kan vises*@
    <ValidationSummary />
    @*For at vores validering på modelleren kan bruges skal vi tilføje følgende*@
    <DataAnnotationsValidator />
    <div class="row">
        <div class="">
            <label>Horse name</label>
            <input class="form-control" @bind="horseModel.Name" />
            <label>SamuraiId</label>
            <input class="form-control" @bind="horseModel.SamuraiID" />
        </div>


        <div class="formButton">
            <button @onclick="Back">Back</button>
            <button type="submit">Confirm</button>
        </div>
    </div>
    
</EditForm>

@code {
    /// <summary>
    /// vores tilbage knap
    /// </summary>
    private void Back()
    {
        //skift vindue
        NavManager.NavigateTo("/horse");
    }

    //instansiere vores model
    HorseModel horseModel = new();

    /// <summary>
    /// laver vores indsæt metode
    /// </summary>
    private void CreateHorse()
    {
        try
        {
            //kør metode
            horse.InsertHorseAvoidInjection(horseModel);
            //skift vindue
            NavManager.NavigateTo("horse");
        }
        catch
        {
            //bygger vores navigateTo ordenligt op
            string infostring = $"{(horseModel.SamuraiID).ToString()} might already be in use or out of range.";
            string currentModel = "Horse Model";
            string CurrentId = " ";
            string url = "horseCreate";

            //skift vindue
            NavManager.NavigateTo($"/errorIDPage/{url}/{CurrentId}/{currentModel}/{infostring}");
        }
    }
}
