@page "/horseCreate"
@inject IHorse horse
@inject NavigationManager NavManager

<h3>Create A Horse</h3>
<EditForm Model="@horseModel" OnValidSubmit="CreateHorse">
    <div class="form-control">
        FirstName <input type="text" @bind="horseModel.FirstName" />
    </div>
    <div class="form-control">
        HorseRace <input type="text" @bind="horseModel.HorseRace" />
    </div>
    <div class="form-control">
        SamuraiID <input type="text" @bind="horseModel.SamuraiID" />
    </div>
    <button type="submit">Confirm</button>
    
</EditForm>
<button @onclick="Back">Back</button>

@code {
    public void Back()
    {
        // navigate back to another page - NavManager....
        NavManager.NavigateTo("/horse");
    }

    // maybe need an object with all the data
    HorseModel horseModel = new();
    // here we need a create method
    public void CreateHorse()
    {
        try
        {
            horse.InsertHorse(horseModel);
            NavManager.NavigateTo("horse");
        }
        catch
        {
            string infostring = $"{(horseModel.SamuraiID).ToString()} is not an existent Samurai ID";
            string currentModel = "Horse Model";
            string url = "horseUpdate";
            NavigationManager.NavigateTo($"/errorIDPage/{url}/{CurrentId}/{currentModel}/{infostring}");
        }
    }
    // we can make a navigate back button
}
