@page "/battleCreate"
@inject IBattle battle
@inject NavigationManager NavManager

<h3>Create A Battle</h3>
<EditForm Model="@battleModel" OnValidSubmit="CreateBattle">
    @*For at vores beskreder fra vores validering kan vises*@
    <ValidationSummary />
    @*For at vores validering på modelleren kan bruges skal vi tilføje følgende*@
    <DataAnnotationsValidator />
    <div class="form-control">
        Title <input type="text" @bind="battleModel.EventTitle" />
    </div>
    <div class="form-control">
        Description <input type="text" @bind="battleModel.Description" />
    </div>
    <div class="form-control">
        Start Date <input type="text" @bind="battleModel.EventStartDate" />
    </div>
    <div class="form-control">
        End Date <input type="text" @bind="battleModel.EventSlutDate" />
    </div>
    <button type="submit">Confirm</button>

</EditForm>
<button @onclick="Back">Back</button>

@code {
    /// <summary>
    /// for vores tilbage knap
    /// </summary>
    private void Back()
    {
        //skift vindue
        NavManager.NavigateTo("/battle");
    }

    //istansiere vores model
    BattleModel battleModel = new();

    /// <summary>
    /// Vores insæt i tabellen metode
    /// </summary>
    private void CreateBattle()
    {
        //kør metode
        battle.InsertBattles(battleModel);
        //skift vindue
        NavManager.NavigateTo("battle");
    }
}
