@page "/battleUpdate/{CurrentId}"
@inject IBattle battle
@inject NavigationManager NavManager

<div class="topSection">
    <h3>Update battle</h3>
    <button @onclick="Back">Back</button>
</div>

<EditForm Model="@battleModel" OnValidSubmit="UpdateBattle">
    @*For at vores beskreder fra vores validering kan vises*@
    <div class="errorBox">
        <ValidationSummary />
        @*For at vores validering på modelleren kan bruges skal vi tilføje følgende*@
        <DataAnnotationsValidator />
    </div>
    <div class="row">
        <div class="">
            <label>Event title</label>
            <input class="form-control" @bind="battleModel.EventTitle" />
            <label>Description</label>
            <input class="form-control" @bind="battleModel.Description" />
            <label>Event start</label>
            <input class="form-control" @bind="battleModel.EventStartDate" />
            <label>Event end</label>
            <input class="form-control" @bind="battleModel.EventSlutDate" />
        </div>


        <div class="formButton">
            <button type="submit">Confirm</button>
        </div>
    </div>
</EditForm>
@code {
    //parameter gør at vi kan hente dataen ned fra url som bliver parset med
    [Parameter]
    public string CurrentId { get; set; }

    //istansiere model
    BattleModel battleModel = new();

    /// <summary>
    /// overrider er så vi overskriver dataen hver gang
    /// gør klar til udprint
    /// </summary>
    protected override void OnInitialized()
    {
        //indsætter data i battlemodel
        battleModel = battle.ReadOneBattle(Convert.ToInt32(CurrentId));
    }

    private void Back()
    {
        //skift vindue
        NavManager.NavigateTo("/battle");
    }

    private void UpdateBattle()
    {
        //kør metode
        battle.UpdateBattle(battleModel);
        //skift vindue
        NavManager.NavigateTo("battle");
    }
}
