@page "/bladeCreate"
@inject IBlade blade
@inject NavigationManager NavManager

<h3>Create A Blade</h3>
<EditForm Model="@bladeModel" OnValidSubmit="CreateBlade">
    @*For at vores beskreder fra vores validering kan vises*@
    <ValidationSummary />
    @*For at vores validering på modelleren kan bruges skal vi tilføje følgende*@
    <DataAnnotationsValidator />
    <div class="form-control">
        Name <input type="text" @bind="bladeModel.Name" />
    </div>
    <div class="form-control">
        Description <input type="text" @bind="bladeModel.Description" />
    </div>
    <div class="form-control">
        SamuraiID <input type="text" @bind="bladeModel.SamuraiID" />
    </div>
    <button type="submit">Confirm</button>
    
</EditForm>
<button @onclick="Back">Back</button>


@code {
    /// <summary>
    /// vores gå tilbage knap
    /// </summary>
    private void Back()
    {
        //skift vindue
        NavManager.NavigateTo("/blade");
    }

    //istansiere vores model
    BladeModel bladeModel = new();

    /// <summary>
    /// vores indsæt metode
    /// </summary>
    private void CreateBlade()
    {
        try
        {
            //kør metode
            blade.InsertBlade(bladeModel);
            //skift vindue
            NavManager.NavigateTo("blade");
        }
        catch
        {
            //bygger vores navigateTo ordenligt op
            string infostring = $"{(bladeModel.SamuraiID).ToString()} is not an existent Samurai ID";
            string currentModel = "Blade Model";
            string CurrentId = " ";
            string url = "bladeCreate";

            //skift vindue
            NavManager.NavigateTo($"/errorIDPage/{url}/{CurrentId}/{currentModel}/{infostring}");
        }
    }
}
