@page "/blade"
@inject IBlade blade
@inject NavigationManager NavManager

<h3>Blades</h3>

<table>
    <thead>
        <tr>
            <button @onclick="createBlade">Add Blade</button>
        </tr>
        <tr>
            <td>Name</td>
            <td>Description</td>
            <td>SamuraiID</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var blade in bladeList)
            {
                <tr>
                <td>@blade.Name</td>
                <td>@blade.Description</td>
                <td>@blade.SamuraiID</td>
                <td>
                    <a href="bladeUpdate/@blade.ID">Update</a> |
                    <button @onclick="()=>bladeDelete(blade)">Delete</button>
                </td>
                </tr>
   
            }
        
    </tbody>
</table>

@code {
    //istansiere vores List
    List<BladeModel> bladeList = new();

    /// <summary>
    /// overrider er så vi overskriver dataen hver gang
    /// gør klar til udprint
    /// </summary>
    protected override void OnInitialized()
    {
        //indsæt
        bladeList = blade.ReadAllBlades();
    }

    /// <summary>
    /// vores knap til at komme hen for at indsætte i tabel
    /// </summary>
    public void createBlade()
    {
        //Skift
        NavManager.NavigateTo("/BladeCreate");
    }

    /// <summary>
    /// vores knap til at delete
    /// </summary>
    /// <param name="bladeModel"></param>
    public void bladeDelete(BladeModel bladeModel)
    {
        //kør metode
        blade.DeleteBlade(bladeModel.ID);

        //refresh vindue
        StateHasChanged();
    }

}
