@page "/blade"
@inject IBlade blade
@inject NavigationManager NavManager

<div class="topSection">
    <h3>List of blades</h3>
    <button @onclick="CreateBlade">Add blade</button>
</div>

<table>
    <thead>
        <tr>
            <td>Name</td>
            <td>Description</td>
            <td>Owner of Blade</td>
            <td>Functions</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var blade in bladeList)
        {
            <tr>
                <td>@blade.Name</td>
                <td>@blade.Description</td>

                @if (blade.Samurai.Deleted == 1)
                {
                    <td>@blade.Samurai.FirstName @blade.Samurai.LastName</td>
                }
                @if (blade.Samurai.Deleted != 1)
                {
                    <td> </td>
                }

                <td>
                    <button><a href="bladeUpdate/@blade.ID">Update</a></button> |
                    <button @onclick="()=>BladeDelete(blade)">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    //istansiere vores List
    List<BladeModel> bladeList = new();

    /// <summary>
    /// overrider er så vi overskriver dataen hver gang
    /// gør klar til udprint
    /// </summary>
    protected override void OnInitialized()
    {
        //Den er til for at display i gui
        bladeList = blade.ReadAllBladesAndSamurais();
    }

    /// <summary>
    /// vores knap til at komme hen for at indsætte i tabel
    /// </summary>
    private void CreateBlade()
    {
        //Skift
        NavManager.NavigateTo("/BladeCreate");
    }

    /// <summary>
    /// vores knap til at delete
    /// </summary>
    /// <param name="bladeModel"></param>
    private void BladeDelete(BladeModel bladeModel)
    {
        //kør metode
        blade.DeleteBlade(bladeModel.ID);

        //refresh side
        NavManager.NavigateTo(" ");
        NavManager.NavigateTo("/blade");
    }

}
