@page "/bladeUpdate/{CurrentId}"
@inject IBlade blade
@inject ISamurai samurai
@inject NavigationManager NavManager

<div class="topSection">
    <h3>Update a blade</h3>
    <button @onclick="Back">Back</button>
</div>
<EditForm Model="@bladeModel" OnValidSubmit="UpdateBlade">
    @*For at vores beskreder fra vores validering kan vises*@
    <div class="errorBox">
        <ValidationSummary />
        @*For at vores validering på modelleren kan bruges skal vi tilføje følgende*@
        <DataAnnotationsValidator />
    </div>
    <div class="row">
        <div class="">
            <label>Blade name: </label>
            <input class="form-control" @bind="bladeModel.Name" />
            <label>Description: </label>
            <input class="form-control" @bind="bladeModel.Description" />
            <label>Choose Samurai: </label>
            @if (samuraiList.Count > 0)
            {
                <div>
                <InputSelect @bind-Value="bladeModel.SamuraiID" id="categorySelect">
                    @foreach (var item in samuraiList)
                    {
                        <option value="@item.ID">@item.FirstName @item.LastName</option>
                    }
                </InputSelect>
                </div>
            }
        </div>


        <div class="formButton">
            <button type="submit">Confirm</button>
        </div>
    </div>
</EditForm>
@code {
    //parameter gør at vi kan hente dataen ned fra url som bliver parset med
    [Parameter]
    public string CurrentId { get; set; }

    //instansiere model
    BladeModel bladeModel = new();
    List<SamuraiModel> samuraiList = new();

    /// <summary>
    /// overrider er så vi overskriver dataen hver gang
    /// gør klar til udprint
    /// </summary>
    protected override void OnInitialized()
    {
        //indsætter i model
        bladeModel = blade.ReadOneBlade(Convert.ToInt32(CurrentId));
        samuraiList = samurai.ReadAllAliveSamurais();
    }

    private void Back()
    {
        //skift vindue
        NavManager.NavigateTo("/blade");
    }

    /// <summary>
    /// vores update metode
    /// </summary>
    private void UpdateBlade()
    {
        try
        {
            //kør metode
            blade.UpdateBlade(bladeModel);
            //skift vindue
            NavManager.NavigateTo("blade");
        }
        catch
        {
            //gør vores navigate to klar
            string infostring = $"{(bladeModel.SamuraiID).ToString()} is not an existent Samurai ID";
            string currentModel = "Blade Model";
            string url = "bladeUpdate";

            //skift vindue
            NavManager.NavigateTo($"/errorIDPage/{url}/{CurrentId}/{currentModel}/{infostring}");
        }
    }
}
