@page "/hest"
@inject IHorse horse
@inject NavigationManager NavManager

<h3>Horses</h3>

<table>
    <thead>
        <tr>
            <button @onclick="createHorse">Add Horse</button>
        </tr>
        <tr>
            <td>Name</td><td>Horse Race</td><td>Samurai ID</td>
        </tr>
    </thead>
    <tbody>     
            @foreach (var horse in horsesList)
            {
                <tr>
                <td>@horse.FirstName</td>
                <td>@horse.HorseRace</td>
                <td>@horse.SamuraiID</td>
                <td>
                    <a href="hestUpdate/@horse.ID">Update</a> |
                    <button @onclick="()=>horseDelete(horse)">Delete</button>
                </td>
                </tr>
   
            }
        
    </tbody>
</table>

@code {
    List<HorseModel> horsesList = new();
    protected override void OnInitialized()
    { // this is the first method to be run
      // I want to load in data from repo. Place it in a variable

        horsesList = horse.ReadAllHorses(); 
    }
    public void createHorse()
    {
        // navigate back to another page - NavManager....
        NavManager.NavigateTo("/hestCreate");
    }
    public void horseDelete(HorseModel horseModel)
    {
        // I want to delete the horse - how do I do it?
        horse.DeleteHorse(horseModel.ID);
        // If I want to update my page, I have to Navigate to this url again
        StateHasChanged();
        NavManager.NavigateTo("/hest");
    }

}
