@page "/clanUpdate/{CurrentId}"
@inject IClan clan
@inject NavigationManager NavManager

<div class="topSection">
    <h3>Update a clan</h3>
    <button @onclick="Back">Back</button>
</div>
<EditForm Model="@clanModel" OnValidSubmit="UpdateClan">
    @*For at vores beskreder fra vores validering kan vises*@
    <div class="errorBox">
        <ValidationSummary />
        @*For at vores validering på modelleren kan bruges skal vi tilføje følgende*@
        <DataAnnotationsValidator />
    </div>
    <div class="row">
        <div class="">
            <label>Clan name</label>
            <input class="form-control" @bind="clanModel.ClanName" />
        </div>


        <div class="formButton">
            <button type="submit">Confirm</button>
        </div>
    </div>
</EditForm>

@code {
    //parameter gør at vi kan hente dataen ned fra url som bliver parset med
    [Parameter]
    public string CurrentId { get; set; }

    //istansiere vores model
    ClanModel clanModel = new();

    /// <summary>
    /// overrider er så vi overskriver dataen hver gang
    /// gør klar til udprint
    /// </summary>
    protected override void OnInitialized()
    {
        //indsætter
        clanModel = clan.ReadOneClan(Convert.ToInt32(CurrentId));
    }

    private void Back()
    {
        //skift vindue
        NavManager.NavigateTo("/clan");
    }

    /// <summary>
    /// vores update metode
    /// </summary>
    private void UpdateClan()
    {
        //køør metode
        clan.UpdateClan(clanModel);
        //skift vindue
        NavManager.NavigateTo("clan");
    }
}
