@page "/clan"
@inject IClan clan
@inject NavigationManager NavManager

<h3>Clans</h3>

<table>
    <thead>
        <tr>
            <button @onclick="createClan">Add Clan</button>
        </tr>
        <tr>
            <td>Clan Name</td>
            <td>SamuraiID</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var clan in clansList)
            {
                <tr>
                <td>@clan.ClanName</td>
                <td>@clan.SamuraiID</td>
                <td>
                    <a href="clanUpdate/@clan.ID">Update</a> |
                    <button @onclick="()=>clanDelete(clan)">Delete</button>
                </td>
                </tr>
            }
        
    </tbody>
</table>

@code {
    //istansiere Lists
    List<ClanModel> clansList = new();

    /// <summary>
    /// overrider er så vi overskriver dataen hver gang
    /// gør klar til udprint
    /// </summary>
    protected override void OnInitialized()
    { 
        //indsæt
        clansList = clan.ReadAllClans();
    }

    /// <summary>
    /// vores knap til at komme hen og indsætte
    /// </summary>
    public void createClan()
    {
        //skift vindue
        NavManager.NavigateTo("/clanCreate");
    }

    /// <summary>
    /// vores knap til at slette
    /// </summary>
    /// <param name="clanModel"></param>
    public void clanDelete(ClanModel clanModel)
    {
        //kør metode
        clan.DeleteClan(clanModel.ID);
        
        //refresh
        StateHasChanged();
    }

}
