@page "/clan"
@inject IClan clan
@inject NavigationManager NavManager

<div class="topSection">
    <h3>List of clans with members</h3>
    <button @onclick="CreateClan">Add clan</button>
</div>

<table>
    <thead>
                <tr>
                    <td>Clan Name</td>
                    <td>Clan Member</td>
                    <td>Functions</td>
                </tr>
    </thead>
    <tbody>

        @foreach (var clans in clansList)
        {
            <tr>
                @if (clans.Deleted != 2)
                {
                    <td>@clans.ClanName</td>
                    @foreach (var item in clans.Samurais)
                    {
                        <td>@item.FirstName @item.LastName</td>
                    }
                    <td>
                        <button><a href="clanUpdate/@clans.ID">Update</a></button> |
                        <button @onclick="()=>ClanDelete(clans)">Delete</button>
                    </td>
                }
            </tr>
        }

    </tbody>
</table>

<div class="topSection">
    <h3>List of clans without members</h3>
</div>

<table>
    <thead>
        <tr>
            <td>Clan Name</td>
            <td>Functions</td>
        </tr>
    </thead>
    <tbody>

        @foreach (var nosamclans in noSamClansList)
        {
            @if (nosamclans.Deleted != 2)
            {
                <tr>
                    <td>@nosamclans.ClanName</td>
                    <td>
                        <button><a href="clanUpdate/@nosamclans.ID">Update</a></button> |
                        <button @onclick="()=>ClanDelete(nosamclans)">Delete</button>
                    </td>
                </tr>
            }
        }

    </tbody>
</table>


@code {
    //istansiere Lists
    List<ClanModel> clansList = new();
    List<ClanModel> noSamClansList = new();

    /// <summary>
    /// overrider er så vi overskriver dataen hver gang
    /// gør klar til udprint
    /// </summary>
    protected override void OnInitialized()
    {
        //indsæt
        clansList = clan.ReadAllClansAndSamurais();
        noSamClansList = clan.ReadAllClansExcludingSamurais();
    }

    /// <summary>
    /// vores knap til at komme hen og indsætte
    /// </summary>
    private void CreateClan()
    {
        //skift vindue
        NavManager.NavigateTo("/clanCreate");
    }

    /// <summary>
    /// vores knap til at slette
    /// </summary>
    /// <param name="clanModel"></param>
    private void ClanDelete(ClanModel clanModel)
    {
        //kør metode
        clan.DeleteClan(clanModel.ID);

        //refresh side
        NavManager.NavigateTo(" ");
        NavManager.NavigateTo("/clan");
    }

}
