@page "/clanUpdate/{CurrentId}"
@inject IClan clan
@inject NavigationManager NavManager

<h3>Update Clan</h3>
<form>
    <div class="row">
        <div class="col-md-8">
            <label>ClanName</label>
            <input class="form-control" @bind="clanModel.ClanName" />
            <label>SamuraiId</label>
            <input class="form-control" @bind="clanModel.SamuraiID" />
        </div>
    </div>
    <div class="row">
        <input type="button" @onclick="@UpdateClan" class="btn btn-primary" value="Save" />
    </div>
</form>
@code {
    //parameter gør at vi kan hente dataen ned fra url som bliver parset med
    [Parameter]
    public string CurrentId { get; set; }

    //istansiere vores model
    ClanModel clanModel = new();

    /// <summary>
    /// overrider er så vi overskriver dataen hver gang
    /// gør klar til udprint
    /// </summary>
    protected override void OnInitialized()
    {
        //indsætter
        clanModel = clan.ReadOneClan(Convert.ToInt32(CurrentId));
    }

    /// <summary>
    /// vores update metode
    /// </summary>
    public void UpdateClan()
    {
        try
        {
            //køør metode
            clan.UpdateClan(clanModel);
            //skift vindue
            NavManager.NavigateTo("clan");
        }
        catch
        {
            //gør navigateTo klar
            string infostring = $"{(clanModel.SamuraiID).ToString()} is not an existent Samurai ID";
            string currentModel = "Clan Model";
            string url = "clanUpdate";

            //skfit vindue
            NavManager.NavigateTo($"/errorIDPage/{url}/{CurrentId}/{currentModel}/{infostring}");
        }
    }
}
