@inject NavigationManager NavManager
@page "/errorIDPage/{url}/{CurrentId}/{CurrentModel}"

<h3>Something went wrong</h3>

<tr>
    <td>
        Input on @CurrentModel was wrong
    </td>
</tr>
<button @onclick="@Back">Back</button>

@code {
    [Parameter]
    public string CurrentModel { get; set; }
    [Parameter]
    public string url { get; set; }
    [Parameter]
    public string CurrentId { get; set; }


    public void Back()
    {
        NavManager.NavigateTo($"/{url}/{CurrentId}");
    }
}
