@inject NavigationManager NavManager
@page "/errorIDPage/{url}/{CurrentId}/{CurrentModel}/{infostring}"

<div class="topSection">
    <h3>Something went wrong</h3>
    <button @onclick="@Back">Back</button>
</div>

<div class="row">
    @CurrentModel input error: "@infostring". Try again.
</div>

@code {
    [Parameter]
    public string CurrentModel { get; set; }
    [Parameter]
    public string url { get; set; }
    [Parameter]
    public string CurrentId { get; set; }
    [Parameter]
    public string infostring { get; set; }


    private void Back()
    {
        NavManager.NavigateTo($"/{url}/{CurrentId}");
    }
}
