@page "/quoteCreate"
@inject IQuotes quote
@inject NavigationManager NavManager

<div class="topSection">
    <h3>Create a quote</h3>
</div>

<EditForm Model="@quoteModel" OnValidSubmit="CreateQuote">
    @*For at vores beskreder fra vores validering kan vises*@
    <ValidationSummary />
    @*For at vores validering på modelleren kan bruges skal vi tilføje følgende*@
    <DataAnnotationsValidator />
    <div class="row">
        <div class="">
            <label>Quote text</label>
            <input class="form-control" @bind="quoteModel.QuoteText" />
            <label>SamuraiId</label>
            <input class="form-control" @bind="quoteModel.SamuraiID" />
        </div>

        <div class="formButton">
            <button @onclick="Back">Back</button>
            <button type="submit">Confirm</button>
        </div>
    </div>
    
    
</EditForm>


@code {
    /// <summary>
    /// vores tilbage knap
    /// </summary>
    private void Back()
    {
        //skift vindue
        NavManager.NavigateTo("/quote");
    }

    //istansiere model
    QuoteModel quoteModel = new();

    /// <summary>
    /// laver vores indsæt metode
    /// </summary>
    private void CreateQuote()
    {
        try
        {
            //kør metode
            quote.InsertQuote(quoteModel);
            //skift vindue
            NavManager.NavigateTo("quote");
        }
        catch
        {
            //bygger vores navigateTo ordenligt op
            string infostring = $"{(quoteModel.SamuraiID).ToString()} is not an existent Samurai ID";
            string currentModel = "Quote Model";
            string CurrentId = " ";
            string url = "quoteCreate";

            //skift vindue
            NavManager.NavigateTo($"/errorIDPage/{url}/{CurrentId}/{currentModel}/{infostring}");
        }
    }
}
