@inherits LayoutComponentBase

<PageTitle>BlazorSamuraiMM</PageTitle>

<div class="page">
    @*Hver gang en side bliver loaded kør component*@
    <LoginChecker />
    <div style="background-image: linear-gradient(180deg, rgba(62,25,0,0.75) 0%, rgba(78,27,0,0.75) 46%, rgba(157,73,0,0.75) 100%);" class="sidebar">
        <NavMenu />
    </div>
    
    <main>
@*        <div class="top-row px-4">
            Header
        </div>*@

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
